/*      TYPOGRAPHY      */
/* -------------------- */

$font-thin: "Roboto Thin"; // fw100
$font-light: "Roboto Light"; // fw300
$font-regular: "Roboto Regular"; // fw 400
$font-medium: "Roboto Medium"; // fw 500
$font-bold: "Roboto Bold"; // fw 700
$font-black: "Roboto Black"; // fw900

/*      BUTTONS      */
/* -------------------- */
$button-bg-primary: #000000;
$button-bg-primary-hover: #333333;
$button-bg-primary-active: #000000;
$button-text-active: #000000;
$button-bg-secondary: #F1F1F1;
$button-bg-secondary-hover: #E5E5E5;
$button-border-secondary: #E4E4E4;
$button-text-secondary: #000000;
$button-text-primary: #FFFFFF;

/*   LAYOUT COMPONENTS   */
/* -------------------- */
$white: #FFFFFF;
$black: #000000;
$gray-100: #F6F6F6;
$gray-200: #F5F5F5;
$gray-250: #F1F1F1;
$gray-300: #EEEEEE;
$gray-400: #E5E7EB;
$gray-500: #E5E5E5;
$gray-600: #525252;

// Header & Footer
$header-bg-color: $white;
$header-border-color: $gray-500;
$footer-bg-color: $white;
$footer-border-color: $gray-400;
$nav-link-color: $gray-600;
$nav-link-hover-color: $black;
$logo-color: $black;
$profile-button-bg-color: $gray-200;
$profile-button-hover-bg-color: $gray-300;
$copyright-text-color: $gray-600;

/*   NAVBAR - SIDEBAR   */
/* -------------------- */
$gray100: #f6f6f6;
$sidenav-color: #f1f1f1;
$sidenav-border: #e4e4e4;
$sidebar-header: #395b5a;

$sidebar-subheader-text-color: #767777;
$sidebar-section-text-color: #0b0b0b;
$sidebar-item-hover-color: #bfd5d5;
$sidebar-item-text-hover-color: #395b5a;

/*   COLORS   */
/* -------------------- */
$error-color: #a94442;
$success-color: #4caf50;
$info-color: #4c54af;

$text-color: #ffffff;

/*   LOADER   */
/* -------------------- */
$loader-background-color: #d9d9d9;
$loader-spinner-border-color: #7c7c7c;
$loader-spinner-top-bottom-border-color: #cbcbcb;
$loader-text-color: #7c7c7c;

/*   INPUT   */
/* -------------------- */
$input-border-color: #919292;
$input-hover-color: #f1f1f1;
$input-additional-text-color: #2f3030;
$input-disabled-border-color: #e4e4e4;
$input-disabled-text-color: #c8c9c9;
$input-error-color: #ff5353;
$input-height: 41px;
$input-label-padding-top: 16px;
$input-vertical-padding: 12px;

/*   CARD      */
/* -------------------- */
$card-bg-color: #f1f1f1;
$card-header-font-color: #5e5f5f;

/*   TABLE   */
/* -------------------- */
$row-height: 48px;
$border-width: 1px;
$header-height: 48px;
$table-font-color: #0b0b0b;
$table-header-font-color: #5e5f5f;

/*   AUTH   */
/* -------------------- */

$auth-welcome-phrase-text-color: #f6f6f6;
$auth-separator-color: #bfd5d5;
$auth-separator-color: #bfd5d5;
$auth-bottom-hyperlink-color: #4c7978;
$auth-or-color: #0b0b0b;

/*   CHIPS      */
/* -------------------- */
$chips-color-active-in-progress: #50835e;
$chips-color-pending: #7e6a2b;
$chips-color-on-hold: #5350af;
$chips-color-deactivated-cancelled: #972a2a;
$chips-color-not-started: #717171;
$chips-color-completed: #704db7;

$chips-bg-color-active-in-progress: #cdefdc;
$chips-bg-color-pending: #f4e8bd;
$chips-bg-color-on-hold: #bdcdf4;
$chips-bg-color-deactivated-cancelled: #f5c8c8;
$chips-bg-color-not-started: #dedede;
$chips-bg-color-completed: #e6ceff;
