<div class="paginator-counter">
  Showing {{ start + 1 }} - {{ end }} of {{ total() }} results
</div>

<div class="paginator-controls">
  <app-button
    [isLink]="true"
    [colorType]="'terniary'"
    [fontWeight]="'medium'"
    [disabled]="pageIndex() === 0"
    (click)="prevPage()"
  >
    <app-icon [iconName]="'left'"></app-icon>
    Prev
  </app-button>
  <app-button
    [isLink]="true"
    [colorType]="'terniary'"
    [fontWeight]="'medium'"
    [disabled]="end >= total()!"
    (click)="nextPage()"
  >
    Next
    <app-icon [iconName]="'right'"></app-icon>
  </app-button>
</div>
