@use 'variables' as *;

:host {
  background: $table-component-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: $table-component-bottom-padding;
  border-radius: $table-component-border-radius;

  app-paginator {
    margin-top: $table-paginator-margin;
  }

  ::ng-deep table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    .mat-mdc-header-row {
      background-color: $table-header-bg;
      border-bottom: $border-width solid $color-gray-400;
      height: $table-header-height;

      .mat-mdc-header-cell {
        color: $color-gray-600;
        font-family: $font-family-secondary;
        font-weight: $font-weight-bold;
        font-size: $table-header-font-size;
        line-height: $table-cell-line-height;
        padding: 0 $table-cell-padding;
      }
    }

    .mat-mdc-row {
      background-color: $table-component-bg;
      border-bottom: $border-width solid $color-gray-400;
      height: $table-row-height;

      .mat-mdc-cell {
        color: $color-text-primary;
        font-family: $font-family-secondary;
        font-weight: $font-weight-regular;
        font-size: $table-cell-font-size;
        line-height: $table-cell-line-height;
        padding: 0 $table-cell-padding;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &.interactive {
      .mat-mdc-row {
        cursor: pointer;

        &:hover {
          background-color: $table-hover-bg;
        }
      }
    }
  }
}
