@use 'variables' as *;

// Mixin for common button styles
@mixin button-styles($width, $height, $font-size, $line-height) {
  width: $width;
  height: $height;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: $font-regular;
  font-size: $font-size;
  font-weight: 500;
  line-height: $line-height;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  outline: none;

  &--small {
    @include button-styles(120px, 36px, 14px, 16px);
  }

  &--medium {
    @include button-styles(160px, 44px, 14px, 17px);
  }

  &--large {
    @include button-styles(336px, 48px, 16px, 19px);
  }

  &--weight--regular {
    font-family: $font-regular;
  }

  &--weight--medium {
    font-family: $font-medium;
  }

  &--weight--bold {
    font-family: $font-bold !important;
  }

  &--primary {
    background-color: $button-bg-primary;
    color: $button-text-primary;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: $button-bg-primary-hover;
    }

    &:active {
      background-color: $button-bg-primary-active;
    }

    &:disabled {
      background-color: $gray-400;
      color: $gray-600;
    }

    // ng-content styling
    ::ng-deep {
      & > * {
        * {
          stroke: $button-text-primary;
        }
      }
    }
  }

  &--secondary {
    background-color: $button-bg-secondary;
    color: $button-text-secondary;
    border: 1px solid $button-border-secondary;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: $button-bg-secondary-hover;
    }

    &:active {
      background-color: $button-bg-secondary;
      border: 1px solid $button-border-secondary;
    }

    &:disabled {
      background-color: $white;
      border: 1px solid $gray-400;
      color: $gray-600;
    }

    // ng-content styling
    ::ng-deep {
      & > * {
        * {
          stroke: $button-text-secondary;
        }
      }
    }
  }

  &--terniary {
    color: $button-text-secondary;
    background-color: transparent;

    &--small {
      @include button-styles(fit-content, 32px, 14px, 16px);
      padding: 4px 8px;
    }

    &--medium {
      @include button-styles(fit-content, 32px, 14px, 17px);
      padding: 4px 8px;
    }

    &--large {
      @include button-styles(fit-content, 32px, 16px, 19px);
      padding: 4px 8px;
    }

    &:hover {
      color: $button-bg-primary;
      text-decoration: underline;
    }

    &:active {
      color: $button-text-active;
    }

    &:disabled {
      color: $gray-600;
      opacity: 0.6;
    }

    // ng-content styling
    ::ng-deep {
      & > * {
        * {
          stroke: $button-text-secondary;
        }
      }
    }
  }

  &--weight--regular {
    font-family: $font-regular;
  }

  &--weight--medium {
    font-family: $font-medium;
  }

  &--weight--bold {
    font-family: $font-bold;
  }

  &.fluid {
    width: fit-content;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

::ng-deep .btn--terniary app-icon mat-icon {
  font-size: inherit;
  width: 1em;
  height: 1em;
}