/* You can add global styles to this file, and also import other style files */

@use 'variables' as v;
@use 'typography' as typography;
@use 'reset' as reset;
@use 'globals' as globals;
@use '@angular/material' as mat;

:root {
  @include mat.snack-bar-overrides(
    (
      supporting-text-color: v.$color-white,
    )
  );
  @include mat.table-overrides(
    (
      background-color: v.$button-bg-secondary-hover,
      row-item-container-height: v.$table-row-height,
      row-item-outline-width: 0,
      header-container-height: v.$table-header-height,
      row-item-label-text-color: v.$table-text-color,
      header-headline-color: v.$table-header-text-color,
    )
  );

  @include mat.form-field-overrides(
      (
        container-height: v.$input-height,
        filled-with-label-container-padding-top: v.$input-label-padding-top,
        filled-focus-label-text-color: v.$input-border-color,
        filled-caret-color: v.$input-border-color,
        filled-disabled-label-text-color: v.$input-disabled-text-color,
        container-vertical-padding: v.$input-vertical-padding
      )
  );
}

mat-snack-bar-container {
  &.success {
    background-color: v.$color-success;
  }
  &.info {
    background-color: v.$color-info;
  }
  &.error {
    background-color: v.$color-error;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: v.$font-regular;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}